<html>
    <head>
	    <title>My First Page</title>
    </head>
    <body>
        <h2>Página index</h2>
        {{ msg }}
        <hr>
            <form action="/inserir/" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ pessoa.id }}" name="id">
                <br >
                <input type="text" value="{{ pessoa.nome }}" name="nome" placeholder="Nome">
                <br >
                <input type="text" value="{{ pessoa.idade }}" name="idade" placeholder="Idade">
                <br >
                <input type="submit" value="Enviar">
            </form>            
        </hr>
        <hr>
        {{ form.errors }}
            <form action="{% url 'inserirForm' %}" method="POST">
                {% csrf_token %}
                Nome: <input type="text" name="nome" value="{{ form.nome.value|default_if_none:'' }}" placeholder="Informe um nome...">
                <br />
                Idade: <input type="text" name="idade" value="{{ form.idade.value|default_if_none:'' }}" placeholder="Informe a idade...">
                <br />
                Ano: <input type="text" name="ano" value="{{ form.ano.value|default_if_none:'' }}" placeholder="Informe o ano...">
                <br />                  
                <input type="submit" value="Enviar"> 
            </form>                
        </hr> 
        <hr>
            <form action="{% url 'pesquisarPessoa' %}" method="GET">
                <input type="text" value="" name="buscar" placeholder="Buscar"> 
                <br >
                <br > 
                <input type="submit" value="Pesquisar">
            </form>
        </hr>
        <table style="width:100%">
            <hr>
                <caption>Pesquisa</caption>
            </hr>    
            <tr>
                <th align="left">Name</th>
                <th align="left">Idade</th>
                <th align="center">Editar</th>                
                <th align="center">Excluir</th>                
            </tr> 
            {% for pessoa in pessoas %}                          
                <tr>
                    <td width="85%" align="left">{{pessoa.nome}}</td> 	
                    <td width="5%" align="left">{{pessoa.idade}}</td>
                    <td width="5%" align="center"> <a href="{% url 'editarPessoa' pessoa.id %}">(editar)</a></td>  
                    <td width="5%" align="center"> <a href="{% url 'excluirPessoa' pessoa.id %}">(excluir)</a></td>
                </tr>                                        
                <tr>
                    <td width="85%" align="left">{% for telefone in pessoa.telefone_set.all%}                        
                                                     {{telefone.telefone}} <br />	                          	
                                                 {% endfor %}</td> 	
                    <td width="5%" align="left"></td>
                    <td width="5%" align="center"> </td>  
                    <td width="5%" align="center"></td>                      	                    
                </tr>                                                        
            {% endfor %}
        </table>                            
    </body>
</html>